<div class="row">
    <div class="col-12 d-flex">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Oyuncular</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="users"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">17402</h1>
                            <div class="mb-0">
                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                <span class="text-muted">Tüm zamanlar</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Yeni Kayıt</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-success">
                                        <i class="align-middle" data-feather="user-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">382</h1>
                            <div class="mb-0">
                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 4.57% </span>
                                <span class="text-muted">Son bir ay</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Oyun Sayısı</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-warning">
                                        <i class="align-middle" data-feather="play"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">45822</h1>
                            <div class="mb-0">
                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 9.22% </span>
                                <span class="text-muted">Son bir ay</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
